{{#if error}}
<div class="alert alert-danger alert-dismissible fade show container" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{/if}}


{{#each err}}
<div class="alert alert-danger alert-dismissible fade show container" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{/each}}