<div class="container mt-5">
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <h1 class="display-4" id="content">LINK Creative studio</h1>
        <p class="bd-lead">Documentation and examples for Bootstrap’s logo and brand usage guidelines.</p>

        <p>Have a need for Bootstrap’s brand resources? Great! We have only a few guidelines we follow, and in turn ask
            you to follow as well. These guidelines were inspired by MailChimp’s <a href="http://www.link97.com">Go to
                website</a>.</p>

        <h2 class="mt-5" id="mark-and-logo">
            <div>Mark and logo<a class="anchorjs-link " href="#mark-and-logo" aria-label="Anchor" data-anchorjs-icon="#"
                    style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Use either the Bootstrap mark (a capital <strong>B</strong>) or the standard logo (just
            <strong>Bootstrap</strong>). It should always appear in San Francisco Display Semibold. <strong>Do not use
                the Twitter bird</strong> in association with Bootstrap.</p>


    </main>
</div>