<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{titles}}</h1>
        <p>{{content}}</p>
        <p><a class="btn btn-primary btn-lg" href="/ideas/add" role="button">{{more}}</a></p>
    </div>
</div>